@charset "utf-8";

$image-path: '/LM_viewer/images/';

$expo-ease-out: cubic-bezier(0.16, 1, 0.3, 1);
$expo-ease-in-out: cubic-bezier(0.87, 0, 0.13, 1);

$cubic-ease-out: cubic-bezier(0.33, 1, 0.68, 1);
$cubic-ease-in: cubic-bezier(0.32, 0, 0.67, 0);
$cubic-ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);

$back-ease-out: cubic-bezier(0.34, 1.56, 0.64, 1);

$level-1-color: #FF0000;
$level-2-color: #00C400;
$level-3-color: #FF33cc;
$level-4-color: #3366ff;
$level-5-color: #0000ff;
$level-6-color: #008000;
$level-7-color: #800080;


::selection{
	background-color: transparent;
}

@mixin transformOrigin($origin) {
	-webkit-transform-origin: #{$origin};
	-moz-transform-origin: #{$origin};
	-ms-transform-origin: #{$origin};
	transform-origin: #{$origin};
}

@mixin displayFlex($align: center, $justify: center) {
	display: flex;
	align-items: #{$align};
	justify-content: #{$justify};
}


@mixin fullSize() {
	width: 100%;
	height: 100%;
}

@mixin border( $style: solid, $pixel: 1px, $color: gray ) {
	border-style: #{$style};
	border-width: #{$pixel};
	border-color: #{$color};
}


@mixin underline( $style: solid, $pixel: 1px, $color: gray ) {
	border-bottom-style: #{$style};
	border-bottom-width: #{$pixel};
	border-bottom-color: #{$color};
}
